<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Rules</title>
</head>
<body>
<h4>Existing Rules List</h4>
<table>
    <tr>
        <th>Rule ID</th>
        <th>Rule Name</th>
        <th>Details</th>
    </tr>
    <tr th:each="rule: ${rules}">
        <td th:utext="${rule.id}"></td>
        <td th:utext="${rule.name}"></td>
        <td>
            <form th:action="@{/admin/rules/details}" method="get">
                <input hidden type="number" name="id" th:value="${rule.id}">
                <input type="submit" value="Update" />
            </form>
        </td>
        <td>
            <form th:action="@{/admin/rules/details}" method="post">
                <input hidden name="id" th:value="${rule.id}">
                <input type="submit" value="Delete"/>
            </form>
        </td>
    </tr>
</table>
</body>
</html>