<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create New Rule</title>
</head>
<body>

<form name="createConditionForm" method="post" th:action="@{/admin/add_condition}"
      th:object="${rule}">
    <h4>New Rule Name</h4>
    <input id="ruleName" type="text" name="name"  th:value="${rule.name}" readonly><br>
    <label>
        <input type="text" name="featureName" th:value="${newCondition.featureName}">
    </label>
    <label>
        <input type="text" name="operation" th:value="${newCondition.operation}">
    </label>
    <label>
        <input type="number" name="value" th:value="${newCondition.value}">
    </label>
    <button type="submit" name="action" value="addCondition">Add another Condition</button>
    <br>
    <button type="submit" name="action" value="saveRule">Save</button><br>
    <table id="existingConditions">
        <thead>Conditions</thead>
        <tbody>
        <tr>
            <th>Feature Name</th>
            <th>Comparison Type</th>
            <th>Basic Value</th>
        </tr>
        <tr th:each="condition, itemStat : ${rule.conditions.toArray()}">
            <td>
                <input type="text" th:name="|conditionsList[${itemStat.index}].featureName|"
                       th:value="${condition.featureName}" readonly/>
            </td>
            <td>
                <input type="text" th:name="|conditionsList[${itemStat.index}].operation|"
                       th:value="${condition.operation}" readonly/>
            </td>
            <td>
                <input type="number" th:name="|conditionsList[${itemStat.index}].value|"
                       th:value="${condition.value}" readonly/>
            </td>
        </tr>

    </table>

    <table>
        <thead>Conditions</thead>
        <tbody>
        <tr>
            <th>Condition ID</th>
            <th>Feature Name</th>
            <th>Comparison Type</th>
            <th>Basic Value</th>
        </tr>
        <tr th:each="condition, iteration: ${rule.conditions}">
            <td th:text="${condition.featureName}">
                <input th:type="String" th:name="${condition.featureName}" th:value="${condition.featureName}">
            </td>
            <td th:text="${condition.operation}">
                <input th:type="String" th:name="${condition.operation}" th:value="${condition.operation}">
            </td>
            <td th:text="${condition.value}">
                <input th:type="Integer" th:name="${condition.value}" th:value="${condition.value}">
            </td>
        </tr>
        </tbody>
    </table>

</form>

</body>
</html>