<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <title>All</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<div th:fragment="navigation(activeTab)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">

                <li class="nav-item" th:classappend="${activeTab == 'Citites' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/city'}">Citites</a>
                </li>

                <li class="nav-item" th:classappend="${activeTab == 'Universities' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/university'}">Universities</a>
                </li>

                <li class="nav-item" th:classappend="${activeTab == 'Faculties' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/faculty'}">Faculties</a>
                </li>

                <li class="nav-item" th:classappend="${activeTab == 'Ways' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/way'}">Ways</a>
                </li>

                <li class="nav-item" th:classappend="${activeTab == 'Filter' ? 'active' : ''}">
                    <a class="nav-link" th:href="@{'/search'}">Filter</a>
                </li>
            </ul>
        </div>
    </nav>
</div>