<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>July Market</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Universities)}"/>
    <h4>Universities</h4>
    <table class="table table-stripped">
        <thead>
        <tr>
            <td>Name</td>
            <td>City name</td>
            <td>Show all faculties</td>
            <td>Delete university</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${universities}">
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.city.cityName}"></td>
            <td><a th:href="@{'/faculty/' + ${prod.id}}">Show</a></td>
            <td><a th:href="@{'/university/' + ${prod.city.id} + '/delete/' + ${prod.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/university/' + ${universityID} + '/add'}">Add university</a>
</div>
</body>
</html>