<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Faculties</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <div th:replace="~{navigation :: navigation(Faculties)}"/>
    <h1>Faculties</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <td>Name</td>
            <td>City name</td>
            <td>Show all ways</td>
            <td>Delete</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="prod : ${faculties}">
            <td th:text="${prod.name}"></td>
            <td th:text="${prod.university.city.cityName}"></td>
            <td><a th:href="@{'/way/' + ${prod.id}}">Show</a></td>
            <td><a th:href="@{'/faculty/' + ${prod.university.id} + '/delete/' + ${prod.id}}">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <a th:href="@{'/faculty/' + ${universityID} + '/add'}">Add faculty</a>
</div>
</body>
</html>